@charset "UTF-8";

body, html {
  text-align: center;
  font-family: Gotham, Helvetica, Arial, sans-serif;
  font-size: 1em;
}


/*---------- TABLET ----------*/

@media (max-width: 768px) (min-width: 375px) {


h1 {
  font-size: 2em;
  color:#02cbd2;
}

h2 {
  font-size: 1.5em;
  color: #fcc02a;
}

p {
  font-size: 1em;
  color:#7b8f8e;

}
}
